.home {
  height: 100vh;
}
.backgroundHome {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.linkHome {
  border: 1px solid white;
  color: white;
  padding: 1rem 7rem 1rem;
  gap: 1rem;

  &:hover {
    color: #ff0000;
    background-color: rgba(128, 0, 128, -0.5);
    box-shadow: 8px 8px 20px 2px #00ffcc;
  }
}

.wordsHome {
  font-family: "Star Wars", sans-serif;
  display: flex;
  gap: 5rem;
}
