.card .picture {
  height: 100%;
  width: 30%;
}

.backgroundInfoDetailPlanet {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.infoDetailPlanetName {
  font-family: "Heavy Metal Blight", sans-serif;
}

.descriptionFirstPlanet,
.descriptionSecondPlanet,
strong {
  font-family: "Sahara", sans-serif;
}
