.card .picture {
  height: 100%;
  width: 30%;
}

.backgroundInfoDetailStarship {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.infoDetailStarshipName {
  font-family: "Heavy Metal Blight", sans-serif;
}

.descriptionFirstStarship,
.descriptionSecondStarship {
  font-family: "Sahara", sans-serif;
}
