.card .picture {
  height: 100%;
  width: 30%;
}

.backgroundInfoDetailCharacter {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.infoDetailCharacterNameLastname {
  font-family: "Heavy Metal Blight", sans-serif;
}

.descriptionFirstCharacter,
.descriptionSecondCharacter {
  font-family: "Sahara", sans-serif;
}

.backgroundInfoDetailCharacter {
  color: beige;
  background-color: rgba(128, 0, 128, -0.5);
}
